#login-box {
    width: 350px;
    padding: 15px;
    padding-top: 10px;
    padding-right: 35px;
    background-color: #f5fdf58f;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
    margin-top: 90px;
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.3s ease-in-out;
}

#login-box:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

#login-box h2 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #192d47;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.input1 {
    width: 90%;
    padding: 10px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input1:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
    outline: none;
}

.login-btn {
    width: 80%;
    padding: 10px;
    background-color: #c07c49;
    color: white;
    border: 2px solid #c07c49;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 45px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.login-btn:hover {
    background-color: rgba(255, 255, 255, 0.058);
    color: #c07c49;

    transform: translateY(-3px);

}

#patent{

    font-family: 'Arial', sans-serif;
    color: rgb(234, 253, 255);
    margin-left: 44.1%;
    margin-top: 100px;
    font-size: 16px;

}
#Notreg {
    font-size: 14px;
    text-align: center;
    color: black;
}

#Notreg a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#Notreg a:hover {
    color: #3c9c3c;
    text-decoration: underline;
}

#info {
    color: red;
    font-size: 14px;
    margin-left: 20px;
}

@media (max-width: 430px) and (max-height: 940px) {
    #login-box {
        margin-top: 35%;
        padding: 6px;
        padding-top: 1%;
        padding-bottom: 10%;
    }

    .input1 {
        margin-left: 10px;
        width: 86.5%;
        padding: 12px;
    }

    #login-box h2 {
        font-size: 35px;
        margin-left: -60%;
    }

    #info {
        font-size: 18px;
        margin-left: 15px;
    }

    #Notreg {
        font-size: 16px;
    }
    .login-btn{
        margin-left: 35px;
    }
}