#login-box {
    width: 350px;
    padding: 15px;
    padding-top: 10px;
    padding-right: 35px;
    background-color: #f5fdf58f;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
    margin-top: 110px;
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.3s ease-in-out;
}

#login-box:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

#login-box h3 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #c07c49;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.input1{
    width: 90%;
    padding: 10px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input:focus {
    border-color: #68bab9;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-btn {
    width: 80%;
    padding: 10px;
    background-color: #c07c49;
    color: white;
    border: 2px solid #c07c49;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 45px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.login-btn:hover {
    background-color: rgba(255, 255, 255, 0.058);
    color: #c07c49;

    transform: translateY(-3px);

}

.Notreg {
    font-size: 14px;
    text-align: center;
    color: #666;
}

.Notreg a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.Notreg a:hover {
    color: #3c9c3c;

    text-decoration: underline;
}

.info {
    color: red;
    font-size: 14px;
    margin-left: 5px;
}

@media (max-width: 480px) {
    #login-box {
        width: 90%;
        padding: 20px;
    }

    #login-box h3 {
        font-size: 22px;
    }

    .input {
        font-size: 14px;
        padding: 10px;
    }

    .login-btn {
        font-size: 14px;
        padding: 10px;
    }

    .Notreg {
        font-size: 13px;
    }
}