#logout-btn {
    border: none;
    background-color: transparent;
    font-size: medium;
    color: red;
    background-color: rgba(255, 255, 255, 0);
    outline: 2px solid red;
    padding: 5.5px;
    border-radius: 2px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: red;
    color: white;
}

#logout-btn:active {
    background-color: crimson;
    transform: scale(0.95);
}

#box-profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

#nameID {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.063);
    background-color: #da8645;
    color: white;
    padding-right:12px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 12px;
    border-radius: 10px;
}

#nameID:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.063);
    background-color: #c07c49;
    color: white;
}