#Signup-box {
    width: 350px;
    padding: 15px;
    padding-top: 10px;
    padding-right: 40px;
    background-color: #f5fdf58f;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
    margin-top: 60px;
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}
#patent1{
    display: flex;
    box-sizing: border-box;
    position: fixed;
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    top: 92.8%;
    left: 44%;
    font-size: 16px;

}

#Signup-box:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

#Signup-box h3 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #192d47;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 10px;
}

.input {
    width: 90%;
    padding: 10px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input:focus {
    border-color: #68bab9;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Signup-btn {
    width: 80%;
    padding: 10px;
    background-color: #c07c49;
    /* outline: 2px solid #68bab9; */
    color: white;
    border: 2px solid #c07c49;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 40px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.Signup-btn:hover {

    background-color: rgba(255, 255, 255, 0);
    color: #c07c49;
    border: 2px solid #c07c49;
}

.Notreg {
    font-size: 14px;
    text-align: center;
    color: #0f0e0e;
}

.Notreg a {
    color: #3402ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.Notreg a:hover {
    color: #0091ff;
    text-decoration: underline;
}

.info {
    color: red;
    font-size: 14px;
    margin-left: 5px;
}
#details{
    margin-top: 20px;
    margin-bottom: 10px;
}

.github {
    margin-left: 35px;
    width: 8%;
    border-radius: 25%;
}

.linkedin {
    width: 8%;
    border-radius: 3px;
    margin-left: 110px;
}

.instagram {
    width: 8%;
    border-radius: 5px;
    margin-left: 35px;
}

@media (max-width: 430px) and (max-height: 940px) {
    #Signup-box{
        margin-top: 28%;
        padding: 6px;
        padding-top: 1%;
        padding-bottom: 7%;
    }
    #Signup-box h3 {
        font-size: 34px;
        margin-left: -55%;
    }
    .input{
        margin-left: 10px;
        width: 86.5%;
        padding: 12px;
    }
    .info{
        margin-left: 18px;
        font-size: 16px;
    }
    .Notreg {
        font-size: 16px;
    }
    #patent1{
        left: 29%;
    }
}