.emp {
    width: 10%;
    margin-left: 45.5%;
    margin-top: 10%;
}

.msg1{
   margin-left: 38%;
   font-family: 'Arial', sans-serif;
   color: white;
}
.msg2{
    margin-left: 41%;
    font-family: 'Arial', sans-serif;
    color: white;
 }